.container {
  width: 100%;
  height: 95vh;
  padding: 0px;
  /* background-color: rgb(40, 185, 185); */
  margin: 0 ;
}


.home__header-profile-change {
  position: relative;
  background-color: #b0a319;
}

.home__navbar-list-logo {
margin-right: 4rem;
}

.home__navbar-funtion {
list-style-type: none;
display: flex;
align-items: center;
font-size: 1.4rem;
padding-left: 10rem;
}

.admin-function a{
position: relative;
display: 0 2rem;
text-decoration: none;
color: var(--black-color);
right: 1px;
margin: 0 2rem;
font-weight: 1.4rem;
right: -138px;
}

.admin-function a:hover {
/* font-weight: bold; */
color: #5e5a5a;
}

.home__navbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  display: flex;
  /* align-items: center; */
}

.container-left {
  width: 15%;
  height: 100%;
  /* background-color: red; */
  margin-left: 1rem;
  font-size: 1.6rem;
  line-height: 1.2rem;
  color: #303133;
  border-right: 1px solid #d7c3c3;
  
}

.menu-bar-home {
  padding: 6rem 0;
}

.menu-bar-home-min {
  padding: 0;
}

.menu-bar-home-medium {
  padding-top: 12px;
}


.container-left-menu-bar {
  padding:0 2rem;
  margin-top: 6rem; 
}

.menu-bar-expanded {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.expanded-content-personal {
  padding: 1rem 0;
}

.menu-bar-expanded-content {
  position: absolute;
  padding-left: 40px;
  vertical-align: middle;
  margin-bottom: 2rem;
}

.container-right {
  display: block;
  flex: 1;
}

.container-home-welcome {
  display: block;
  /* justify-content: center; */
  text-align: center;
  padding: 10rem;
}

.home-welcome-avt {
  line-height: 1.4rem;
}

.home-welcome-avt h1 {
  font-size: 2.8rem;
  padding: 2rem;
}

.home-welcome-avt p {
  font-size: 1.4rem;
  padding: 1.4rem;
}

.container-left-menu-bar {
  cursor: pointer;
}

.menu-bar-home-min:hover {
  
  color: #409eff;
}

.menu-bar-expanded {
  cursor: default;
}

.expanded-content-personal:hover {
  color: #409eff;
}

.profile{
  margin: auto;
  width: 95%;
  max-width: 400px;
  /* background: #ecf0f2; */
  border-radius: 10px;
  padding: 2rem;
  position: relative;
  /* box-shadow: 0px 1px 7px rgba(2,2,2,0.2); */
}
.profile__options{
  display: flex;
  flex-wrap: nowrap;
  width: 90%;
  margin: auto;
  justify-content: space-between;
  padding-bottom: 10px;
  color: #666;
}
.upload-btn{
  font-size:13px;
  text-transform: uppercase;
  color: #888;
}
#upload_label{
  cursor: pointer;
  position: absolute;
  left: 15px;
  top: 12px;
  font-size: 14px;
}
#upload_label:hover, #upload_label:focus{
  color: #222;
}
.last-btn, .next-btn{
  top: 110px;
  position: relative;
  font-size: 22px;
}
.btn{
  cursor: pointer;
}
.btn:focus,.btn:hover{
  color:rgba(44,105, 1  51, 1);
}
.avatar{
  width: 150px;
  height: 150px;
  border-radius: 100%;
  border: 2px solid #eae679;
  margin: 10px auto;
  position: relative;
  overflow: hidden;
  z-index: 2;
  transform: translateZ(0);
  transition: border-color 200ms;
}
.avatar--upload-error{
  border-color: #F73C3C;
  animation: shakeNo 300ms 1 forwards;
}
@keyframes shakeNo{
  20%, 60%{
    transform: translateX(6px);
  }
  40%, 80%{
    transform: translate(-6px);
  }
}
.avatar:hover .avatar_upload, .avatar--hover .avatar_upload{
  opacity: 1;
}
.avatar:hover .upload_label, .avatar--hover .upload_label{
  display: block;
}
#preview::after{
  content: 'Loading...';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: -1;
  line-height: 150px;
  color: #999;
}
.avatar_img--loading{
  opacity: 0;
}
.avatar_img{
  width: 100%;
  height: auto;
  animation: inPop 250ms 150ms 1 forwards cubic-bezier(0.175, 0.885, 0.32, 1.175);
  transform: scale(0);
  opacity: 0;
}
@keyframes inPop {
  100%{
    transform: scale(1);
    opacity: 1;
  }
}
.avatar_img--rotate90{
  transform: rotate(90deg);
}
.avatar_upload{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  height: 100%;
  background: #25cfe3;
  background: rgba(44,205, 251, 0.6);
  display: flex;
  align-items: center;
  opacity: 0;
  transition: opacity 500ms;
}
.upload_label{
  color: #111;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
  padding: 4px;
  border-radius: 3px;
  min-width: 60px;
  width: 100%;
  max-width: 80px;
  margin: auto;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  background: #fff;
  animation: popDown 300ms 1 forwards;
  transform: translateY(-10px);
  opacity: 0;
  display: none;
  transition: background 200ms, color 200ms;
}
@keyframes popDown{
  100%{
    transform: translateY(0);
    opacity: 1;
  }
}
.upload_label:hover{
  color: #fff;
  background: #222;
}
#upload{
  width: 100%;
  opacity: 0;
  height: 0;
  overflow: hidden;
  display: block;
  padding: 0;
  text-align: center;
}
.nickname{
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: #666;
  position: relative;
}
#name:hover{
  outline: lightblue auto 5px;
  outline: -webkit-focus-ring-color auto 5px;
  
}

.container-wrap {
  text-align: center;
  margin-top: 4rem;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  /* height: 70%; */
  /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); */

}

.container-wrap-personal {
  width: 60%;
  border: 1px solid #c5cfe0;
  border-radius: 6px;
  margin: 2rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  /* letter-spacing: 1px; */

}

.container-personal-info {
  margin-top: 2rem;
  line-height: 1.2rem;
}

.personal-info-header h1{
  font-size: 2.2rem;
  display: flex;
  justify-content: flex-start;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.personal-info-header h3 {
  font-size: 1.6rem;
  display: flex;
  justify-content: flex-start;
  margin-left: 2rem;
}

.personal-info-change {
  text-align: left;
  margin:0 2rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

.label-modify {
  padding-bottom: 2rem;
}

.personal-info-change input {
  width: 100%;
  border-radius: 4px;
  border: 4px solid #dcdfe6;
  color: #606266;
  border-width: 1px;
  font-size: 1.4rem;
  line-height: 36px;
  padding: 0px 15px;
}

.flex-split {
  display: flex;
  align-items: center;
  /* width: 100%; */
  justify-content: space-between;
}

.info-change-flex {
  width: 48%;
  /* padding: 2rem; */
}

.info-change-flex label {
  margin-bottom: 2rem;
}

.info-change-flex input {
  margin: 2rem 0;
  margin-right: 1rem;
}

.info-change-flex select{
  width: 100%;
  height: 38px;
  border-radius: 4px;
  border: 4px solid #dcdfe6;
  color: #606266;
  border-width: 1px;
  font-size: 1.4rem;
  line-height: 36px;
  padding: 0px 15px;
  margin: 2rem 0;
  /* margin-right: 1rem; */
}


.info-footer-btn  {
  display: flex;
  justify-content: flex-end;
  padding: 0 2rem;
  margin-bottom: 2rem;
}

.button-modify {
  padding-left: 2rem;
  font-size: 1.6rem;
  background-color: #fff;
  
}

.button-modify button {
  border: 1px solid #dcdfe6;
  font-size: 1.6rem;
  border-radius: 4px;
  padding: 10px 20px;
  color: #606266;
  border-width: 1px;
  background-color:#fff;
}

.button-modify-border-change button:hover {
  cursor: pointer;
  color: #409eff;
  border-color: #409eff;
}

.button-modify-hover button {
  border-color: #409eff;
  color: #409eff;
  background-color: #ecf5ff;
}

.button-modify-hover button:hover{
  cursor: pointer;
  background-color: #409eff;
  color: #fff;
}

.container-wrap-contact-info {
  margin-top: 2rem;
  line-height: 1.2rem;
}

.contact-info-header {
  margin: 2rem;
}

.contact-info-header h3 {
  margin-bottom: 2rem;
}

.contact-info-header h1 {
  font-size: 2.2rem;
  display: flex;
  justify-content: flex-start;
  /* margin-left: 2rem; */
  /* margin-bottom: 2rem; */
}

.contact-info-header {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contact-info-body {
  /* display: flex; */
  padding:0 2rem;
  margin-bottom: 2rem;
}

.flex-split-info {
  margin-bottom: 2rem;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  /* width: 48%; */
  text-align: left;
}

.label-change {
  margin-bottom: 2rem;
}

.body-modify {
  width: 48%;
}

.body-modify--modules {
  width: 94%;
  text-align: center;
  margin: 2rem;
}

.label-change--modules {
  display: flex;
  justify-content: flex-start;
}

.body-modify input {
  width: 100%;
  border-radius: 4px;
  border: 4px solid #dcdfe6;
  color: #606266;
  border-width: 1px;
  font-size: 1.4rem;
  line-height: 36px;
  padding: 0px 15px;
}

.label-change label {
  font-size: 1.4rem;
}

.container-email {
  width: 60%;
  border: 1px solid #c5cfe0;
  border-radius: 6px;
  margin: 2rem;
}

.container-email-header h1{
  margin: 2rem;
  text-align: left;
  font-size: 2.2rem;
}

.container-email-header h3{
  margin: 2rem;
  text-align: left;
  font-size: 1.6rem;
}

.add-your-email {
  text-align: left;
  padding: 0 2rem;
  font-size: 1.6rem;

}

.email-label {
  margin-bottom: 2rem;
}

.add-your-email input {
  width: 100%;
  border-radius: 4px;
  border: 4px solid #dcdfe6;
  color: #606266;
  border-width: 1px;
  font-size: 1.4rem;
  line-height: 36px;
  padding: 0px 15px;
}

.container-wrap-wrap {
  width: 60%;
  border: 1px solid #c5cfe0;
  border-radius: 6px;
  margin: 2rem;
}

.wrap-modify {
  margin: 2rem;
}

.container-wrap-header {
text-align: left;
}

.wrap-modify h1 {
font-size: 2.2rem;
display: flex;
justify-content: flex-start;
margin-bottom: 2rem;
}

.wrap-modify h3 {
font-size: 1.4rem;
}

.wrap-body-modify {
text-align: left;
padding: 0 2rem;
}

.current-password {
padding-bottom: 2rem;
}

.password-label {
margin-bottom: 2rem;
font-size: 1.4rem;
}

.current-password input {
  width: 100%;
  border-radius: 4px;
  border: 4px solid #dcdfe6;
  color: #606266;
  border-width: 1px;
  font-size: 1.4rem;
  line-height: 36px;
  padding: 0px 15px;
}


.container__content--student-list {
    width: 90%;
    margin: 40px auto;
    overflow: hidden;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    font-size: 1.4rem;
}

.container__h1-button {
  font-size: 2rem;
  /* padding: 20px 0; */
  padding-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    font-size: 1.4rem; 
}



th, td {
    /* width: 100%;
    height: 100%; */
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: var(--primary-color);
    font-weight: 600;
}

.td-container {
  display: flex;
  align-items: center;
  padding: 0 15px;
}


.td-modify {
  width: 100%;
  height: 100%;
  text-decoration: none;
  background-color: white !important;
  /* z-index: 10000; */
}

.td-modify--modules {
  /* margin: 0 12px; */
}

tr:hover {background-color: #f1dbc3;}

.td {
  display: flex;
  align-items: center;
}

.td-modify {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.action_btn {
  text-decoration: none;
  padding: 8px 24px;
  padding: auto;
  /* background-color: ; */
  color: var(--black-color);
  border: 1px solid rgb(236, 233, 233);
  cursor: pointer;
}

.action_btn--delete {
  background-color: rgb(227, 106, 106);
  border-radius: 10px;
}


.action_btn--edit {
  background-color: rgb(227, 163, 221);
  border-radius: 10px;
  padding: 8px 32px ;
}

.action_btn--delete:hover {
  background-color: rgb(198, 91, 91);
}

.action_btn--edit:hover {
  background-color: rgb(216, 131, 208);
}

.container__h1-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add_student {
    background-color: rgb(98, 206, 98);
    padding: 10px;
    border-radius: 10px;
    /* text-decoration: none; */
    border: 1px solid white;
    font-weight: 1.8rem;
    font-family: "Montserrat", sans-serif;;
}

.add_student:hover {
    cursor: pointer;
    background-color: rgb(58, 186, 58);
}

.info-footer-btn--modules {
    padding: 0px 4rem;
}